html{
    background-color: #0a192f;
    display: flex;
    position: relative;
    font-size: 12px;
    width: 500px; 
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    padding: 0px 500px;
    margin: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: flex-start;
}
